In [28]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# Trabajo 2

La base de datos con la que le corresponde trabajar, se obtiene como una muestra aleatoria que corresponde a corresponde a los resultados obtenidos por los jóvenes de todo el país en las pruebas Saber 11, del año 2022. La información aparece agregada por Colegio y solo abarca los colegios de Antioquia. Dicha base contiene las variables: NATURALEZA (Colegio Oficial o No-Oficial), JORNADA (Asociado a los diferentes tipos de jornada de estudio), PROMLECT (Promedio obtenido por el colegio en Lectura Crítica) y PROMMATE (Promedio obtenido por el colegio en Matemáticas).

In [3]:
# Leer archivo csv

raw_data_url = "https://raw.githubusercontent.com/repos-especializacion-UdeA/estadistica/refs/heads/main/trabajo2/DatosTrabajo2EAE20242.csv"

# Leer el archivo CSV
df = pd.read_csv(raw_data_url)

# Mostrar las primeras filas del DataFrame
df.head()

  NATURALEZA   JORNADA  PROMLECT  PROMMATE
0    OFICIAL  COMPLETA        33        18
1    OFICIAL  COMPLETA         0        19
2    OFICIAL  COMPLETA        30        21
3    OFICIAL  COMPLETA        44        21
4    OFICIAL  COMPLETA        31        25

## Funciones resumen

In [4]:
df.shape

(1807, 4)

In [5]:
df.describe()

          PROMLECT     PROMMATE
count  1807.000000  1807.000000
mean     50.321527    47.105147
std       7.028032     7.897110
min       0.000000    18.000000
25%      45.000000    41.000000
50%      50.000000    47.000000
75%      55.000000    52.000000
max      74.000000    76.000000

In [8]:
df.value_counts()

NATURALEZA  JORNADA        PROMLECT  PROMMATE
OFICIAL     UNICA          53        49          10
            COMPLETA       44        41          10
            MANANA         56        52           9
NO OFICIAL  COMPLETA       63        63           9
OFICIAL     FIN DE SEMANA  43        39           9
                                                 ..
            COMPLETA       44        30           1
                                     34           1
                                     44           1
                           45        29           1
            UNICA          65        64           1
Length: 964, dtype: int64

In [12]:
print(df.NATURALEZA.unique())
print(df.JORNADA.unique())

['OFICIAL' 'NO OFICIAL']
['COMPLETA' 'MANANA' 'UNICA' 'NOCTURNA' 'FIN DE SEMANA' 'TARDE']

## Punto 1 - Intervalo de confianza

Construir en Python un IC para al 95% de confianza necesario para responder: ¿Puede afirmarse que el resultado medio obtenido por los colegios en Lectura es superior a 45 puntos? Justifique su respuesta.

### Solución

Sea **$X_i$** la VA relacionada con el promedio obtenido en la prueba de lectura critica por el i-esimo colegio 

A partir de la tabla podemos obtener los siguientes valores:

In [25]:
# Datos del problema
n = df.shape[0]
X = df.PROMLECT.mean()
S = df.PROMLECT.std()
print(f"n = {n}")
print(f"X = {X:.5f}")
print(f"S = {S:.5f}")

NC = 0.95 # Nivel de confianza
alpha = 1 - NC

n = 1807
X = 50.32153
S = 7.02803

Como la poblacion no es normal, el numero de datos que esta tiene es de mas de 30 y la varianza es desconocida, usamos la siguiente formula para el intervalo de confianza:

$$
IC = \overline{X}\pm Z_{\alpha/2}\frac{S}{\sqrt{n}}
$$

Inicialmente vamos a calcular para $\alpha = 0.05$:

$
Z_{\alpha/2} = Z_{0.025}  
$

In [30]:
Z = stats.norm()
perc = Z.ppf(1 - alpha/2)
IC_left = X - perc*S/np.sqrt(n)
IC_right = X + perc*S/np.sqrt(n)
print(f"({IC_left:.5f},{IC_right:.5f})")

(49.99748,50.64557)

**Respuesta numerica**: Como el intervalo en el cual se encuentra la media en los para lectura esta en el rango $(49.99748,50.64557)$, se puede afirmar con un nivel de confianza del 95% que el resultado promedio en la prueba de lectura es superior a 45 puntos

In [ ]:
# Calculo del

* https://github.com/OpenIntroStat/openintro-statistics-slides
* https://365datascience.com/calculators/confidence-interval-calculator/
* https://oercommons.org/authoring/18167-openstax-introductory-statistics-videos-with-lectu/view
* https://stanford.edu/~shervine/teaching/cme-106/
* https://datatab.es/tutorial/confidence-interval
* https://neuraldatascience.io/3b-ai_assisted/multi_data_files_2.html